html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.padre {
  display: flex;
  align-items: center;
  height: 100%;
}
.tamaño-moda{
  width: 100%;
  height: 560px;
  margin-top: 100px;
}
.estilo-profile{
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px   ;
}
.cajatexto {
  background-color: #cccccc40;
  border-color: slategray;
  border-radius: 30px;
  width: 100%;
  padding: 15px;
  border-width: 0px;
  margin-bottom: 20px;
}
.cajatexto:focus{
  outline: 1px solid rgb(220, 213, 165);
  box-shadow: 0 0 18px rgb(220, 213, 165);
}
.btnForm {  
  background-color: #1f2226;
  border-color: slategray;
  border-radius: 30px;
  width: 100%;
  padding: 15px;
  border-width: 0px;
  margin-bottom: 20px;
  color:white
}
.texto {
  font-size: 20px;
  color: slategray;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
}
.btnswitch {
  background-color: #1f2226;
  border-radius: 30px;
  padding: 8px;
  color: white;
  font-size: 16px;
}
.supercontainer {
  background-image: url('./assets/oficial.jpg'); /* Reemplaza 'tuimagen.jpg' con el nombre de tu archivo de imagen */
  background-size: cover; /* Para que la imagen de fondo cubra todo el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  height: 100vh; /* Ajusta la altura del contenedor al 100% de la ventana */
}
